# Environment Variables
.env
gradle-local.properties

gpg/
.gradle/
build/
*.class
*.log
*.settings.xml

# Eclipse
.classpath
.project
.settings/
bin/

# IDEA
*.iml
*.ipr
*.iws
.idea/
out/

hs_err_pid*
_ignore*

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
